*, *:before, *:after { 
	box-sizing: border-box; 
}
html, body {
  min-height: 100%;
  min-width: 100%;
}

img { 
	max-width: 100%; 
}

body {
	text-align: center;
	margin: 0;
  padding: 10% 0;
	font-size:1.7em;
	background-image: url(background.jpg);
	background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
	color:white;
}

button {
	font-size: 1.3em;
	margin: 30px 20px;
  padding: 15px 40px;
  color: #fff;
  background: #009EE3;
  border: 0;
  transition: all .5s ease-in-out;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 50px;
  height: 100%;
  background: #fff;
  transform-origin: 100% 50%;
  transition: all .7s ease-in-out;
}

button:hover {
  color: #009EE3;
}

.btnEffect::before{
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
}

.btnEffect:hover::before {
  transform: scaleY(10); 
  height: 100%;
}

#results {
	margin:50px;
	font-style: italic;
  font-size:1.2em;
}