*, *:before, *:after { 
	box-sizing: border-box; 
}

img { 
	max-width: 100%; 
}
body {
	width: 60%;
	margin:10% auto;
	font-size: 1.2em;
}
select {
	font-size: 1em;
}
input {
	font-size: 1em;
}
.mainDiv {
	width: 100%;
	padding:4%;
	text-align: center;
	border:3px solid black;
	border-radius: 25%;
}
